@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Roboto:wght@400;700&family=Rancho&display=swap');

:host {
  display: flex;
  width: 70%;
  margin: 80px auto;
  padding: 35px;
}

@media (max-width: 768px) {
  :host {
    width: 90%;
    margin: 80px auto;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  :host {
    width: 80%;
    margin: 80px auto;
  }
}
